# --- Configuración del Backend (Crow + SQLite) ---
# Ruta interna del contenedor donde se guardará la DB (definida en Dockerfile)
DB_PATH=/database/app.db

# --- Límites de Recursos ---
# SQLite es ligero, pero reserva algo de RAM para el Motor WASM
BACKEND_MEMORY_LIMIT=32M
BACKEND_RESERVATIONS=16M

# --- Configuración de Red ---
# Puerto externo para acceder a tu aplicación
PORT_HTTP=80

# --- Notas de Depuración ---
LOG_LEVEL=info